.header {
  padding: 0 0.5rem;
  height: 8vh;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}
